[submodule "leobozzi/odoo-addons-utils"]
	path = leobozzi/odoo-addons-utils
	url = git@github.com:leobozzi/odoo-addons-utils.git
	branch = 15.0

[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 15.0

	





