[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 15.0
[submodule "OCA/account-payment"]
	path = OCA/account-payment
	url = git@github.com:OCA/account-payment.git
	branch = 15.0
[submodule "OCA/bank-payment"]
	path = OCA/bank-payment
	url = git@github.com:OCA/bank-payment.git
	branch = 15.0
[submodule "OCA/bank-statement-import"]
	path = OCA/bank-statement-import
	url = git@github.com:OCA/bank-statement-import.git
	branch = 15.0
[submodule "OCA/brand"]
	path = OCA/brand
	url = git@github.com:OCA/brand.git
	branch = 15.0
[submodule "OCA/credit-control"]
	path = OCA/credit-control
	url = git@github.com:OCA/credit-control.git
	branch = 15.0
[submodule "OCA/crm"]
	path = OCA/crm
	url = git@github.com:OCA/crm.git
	branch = 15.0
[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 15.0
[submodule "OCA/product-pack"]
	path = OCA/product-pack
	url = git@github.com:OCA/product-pack.git
	branch = 15.0
[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 15.0
[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 15.0
[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 15.0
[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 15.0
[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 15.0
[submodule "OCA/stock-logistics-barcode"]
	path = OCA/stock-logistics-barcode
	url = git@github.com:OCA/stock-logistics-barcode.git
	branch = 15.0
[submodule "OCA/stock-logistics-reporting"]
	path = OCA/stock-logistics-reporting
	url = git@github.com:OCA/stock-logistics-reporting.git
	branch = 15.0
[submodule "OCA/stock-logistics-transport"]
	path = OCA/stock-logistics-transport
	url = git@github.com:OCA/stock-logistics-transport.git
	branch = 15.0
[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = git@github.com:OCA/stock-logistics-warehouse.git
	branch = 15.0
[submodule "OCA/stock-logistics-workflow"]
	path = OCA/stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
	branch = 15.0
[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 15.0
[submodule "ingadhoc/account-financial-tools"]
	path = ingadhoc/account-financial-tools
	url = git@github.com:ingadhoc/account-financial-tools
	branch = 15.0
[submodule "ingadhoc/account-payment"]
	path = ingadhoc/account-payment
	url = git@github.com:ingadhoc/account-payment
	branch = 15.0
[submodule "ingadhoc/account-invoicing"]
	path = ingadhoc/account-invoicing
	url = git@github.com:ingadhoc/account-invoicing
	branch = 15.0
[submodule "ingadhoc/aeroo_reports"]
	path = ingadhoc/aeroo_reports
	url = git@github.com:ingadhoc/aeroo_reports
	branch = 15.0
[submodule "ingadhoc/argentina-sale"]
	path = ingadhoc/argentina-sale
	url = git@github.com:ingadhoc/argentina-sale
	branch = 15.0
[submodule "ingadhoc/multi-company"]
	path = ingadhoc/multi-company
	url = git@github.com:ingadhoc/multi-company
	branch = 15.0
[submodule "ingadhoc/miscellaneous"]
	path = ingadhoc/miscellaneous
	url = git@github.com:ingadhoc/miscellaneous
	branch = 15.0
[submodule "ingadhoc/odoo-argentina"]
	path = ingadhoc/odoo-argentina
	url = git@github.com:ingadhoc/odoo-argentina
	branch = 15.0
[submodule "ingadhoc/odoo-argentina-ee"]
	path = ingadhoc/odoo-argentina-ee
	url = git@github.com:ingadhoc/odoo-argentina-ee
	branch = 15.0
[submodule "ingadhoc/partner"]
	path = ingadhoc/partner
	url = git@github.com:ingadhoc/partner
	branch = 15.0
[submodule "ingadhoc/product"]
	path = ingadhoc/product
	url = git@github.com:ingadhoc/product
	branch = 15.0
[submodule "ingadhoc/stock"]
	path = ingadhoc/stock
	url = git@github.com:ingadhoc/stock
	branch = 15.0
[submodule "ingadhoc/sale"]
	path = ingadhoc/sale
	url = git@github.com:ingadhoc/sale
	branch = 15.0
[submodule "ingadhoc/purchase"]
	path = ingadhoc/purchase
	url = git@github.com:ingadhoc/purchase
	branch = 15.0
[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools
	branch = 15.0
[submodule "leobozzi/cl-mtagro"]
	path = leobozzi/cl-mtagro
	url = git@github.com:leobozzi/cl-mtagro.git
	branch = 15.0